{% extends "shortlink/base.html" %}

{% block title %}Sign in{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .asteriskField {
        display: none;
    }
</style>

<div class="container" style="padding-top: 1.5rem;">
<form method="post">
    {% csrf_token %}
    <h3 class ="mx-auto text-center">Sign in</h3>
    <div class="row ustify-content-md-center"> 
            {% if view.get_redirect_url %}
        <p class ="text-center alert alert-info">You must sign in to continue.</p>
            {% endif %}
        {{ form|crispy }}
    <div class="col-8 mx-auto text-center">
        <button type="submit" class="btn btn-primary btn-lg" style="margin-top:1em;">Sign in</button>
        <p style="padding-top: 1rem;">Don't have an account yet? <a href="{% url 'sign-up' %}">Sign Up</a></p>
    </div>
    </div>
</form>
</div>
{% endblock %}